.menu-bar
{
    min-height: 8%;
    background: #FF9800;

}
.menu-bar img
{
    width: 150px;
}
.nav-link{
    color:#FFF !important;
}
.nav-link:hover
{
    color:black !important;

}
.active{
    color: #000 !important;
}
.navbar-toggler.fa{
    color: #fff;

}
.navbar-toggler{
    outline: none !important;
}
.banner{
    min-height: 77%;
    color: #555;
}
.banner img{
    width:100%;
}
.info{
    margin: 24% auto;
}
.info h1{
font-size: 35px;
}
.info a{
    width:135px;
    color:#fff !important;
    text-decoration: none !important;
    padding: 15px 25px;
    margin: 5% 10px;
    background: #ff9800;
    display: inline-block;
}
.info .second-btn{
    border: 1px solid #ff9800 !important;
    background: transparent !important;
    color: #555 !important;
    transition: 0.5s;


}
.info .second-btn:hover{
    background: #ff9800 !important;
    color: #fff !important;

}
.footer-widget{
    min-height: 15%;
    background-image: linear-gradient( to right, #ff9800,#a46406);
    padding: 21px 0;
    display: inline-flex;
    color: #FFF;
}
.footer-text{
    padding-left: 25px;
}
.footer-widget .fa{
    font-size: 25px;
}